body {
    background: #EEE;
}

nav {
    border-bottom: 2px solid blue;
}

.container-fluid {
    padding: 0px;
}

.section {
    width: 100%;
    padding: 30px 50px;
}

.about-text {
    background: #FFF;
    padding: 25px;
    border-radius: 3px;
}

.section:nth-child(2n) {
    background: #DDD;
}

.section:nth-child(2n+1) {
    background: #ECECEC;
}

.product-wrapper {
    padding: 0px 10px;
}

.title {
    border-bottom: 2px solid orange;
    margin-bottom: 20px;
}

.card img {
    height: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px 0px 0px;
}

.about-text, .contact-wrapper {
    position: absolute;
    width: 80%;
    margin: 50px 10%;
    padding: 50px;
    background: #FFF;
}

.contact {
    border-radius: 3px;
}

.contact input {
	margin-bottom: 15px;
}
