body {
    background: #EEE;
}


/*.top-background {
    width: 100%;
    height: 100px;
    z-index: -1;
    background-color: rgba(0, 169, 0, 0.78);
}*/

nav {
    border-bottom: 2px solid blue;
}

.container-fluid {
    padding: 0px;
}

.section {
    width: 100%;
    padding: 30px 50px;
}

.section:nth-child(2n) {
    background: #DDD;
}

.section:nth-child(2n+1) {
    background: #ECECEC;
}

.product-wrapper {
    padding: 0px 10px;
}

.title {
    border-bottom: 2px solid orange;
    margin-bottom: 20px;
}

.card img {
    height: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px 0px 0px;
}
